@model BeautyPoly.View.Models.ResetPass
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="card p-2">
    <!-- Quên mật khẩu -->
    
    <div class="card-body mt-2">
        <h4 class="mb-2">Quên mật khẩu? 🔒</h4>
        <p class="mb-4">Nhập email của bạn và chúng tôi sẽ gửi hướng dẫn để đặt lại mật khẩu của bạn</p>
        @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                @ViewData["ErrorMessage"]
            </div>
        }
        else if (!string.IsNullOrEmpty(ViewData["Sucsess"] as string))
        {
            <div class="alert alert-success" role="alert">
                @ViewData["Sucsess"]
            </div>
        }

        <form asp-action="ForgotPassword" class="mb-3" method="POST">
            <div class="form-floating form-floating-outline mb-3">
                <input type="text"
                       class="form-control"
                       id="email"
                       asp-for="Email"
                       placeholder="Nhập email của bạn"
                       autofocus />
                <label>Email</label>
            </div>
            <div class="text-center">
                <button type="reset" class="btn btn-secondary" onclick="goBack()">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
            </div>
        </form>
        
    </div>
</div>

