@using BeautyPoly.Data.ViewModels;
@using BeautyPoly.Models;
@model Tuple<ProductViewModel>

<section class="section-space">
    <div class="container">
        <div class="row product-details">
            <div class="col-lg-6">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner" style="height:693px !important">
                        <input id="product_sku_id" type="number" hidden />
                        <div class="carousel-item active">
                            <img id="product_detail_img" src="~/images/@Model.Item1.Image" class="d-block" style="width:570px !important;height:693px !important" alt="">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="product-details-content">
                    <h5 class="product-details-collection">@* Premioum collection *@</h5>
                    <h3 class="product-details-title">@Model.Item1.ProductName</h3>
                    <h5 id="price_text">@Model.Item1.PriceText ₫</h5>
                    <div class="product-details-qty-list" id="product_option">
                    </div>
                    <div class="product-details-pro-qty">
                        <span id="inventory_productsku"></span>
                        <input id="product_sku_inventory" value="0" hidden />
                        <div class="pro-qty">
                            <input type="text" title="Quantity" value="01">
                        </div>
                    </div>
                    <div class="product-details-action">
                        <div class="prices" id="price_product_detail"></div>
                        <div class="product-details-cart-wishlist">
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#action-CartAddModal" onclick="addToCart()">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== End Product Details Area Wrapper ==-->
<script>
    var productId = @Model.Item1.ProductID;
</script>
<script src="~/js/product_detail_view.js" asp-append-version="true"></script>