@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .image-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }


    tr:hover {
        /* Add your hover effect styles here */
        cursor: pointer; /* Change cursor on hover */
    }

    #tbody_product tr:focus {
        background-color: deeppink; /* Light blue background when row is focused */
    }
</style>


<div class="card">
    <div class="card-body">
        <h5 class="card-title text-uppercase">quản lý sản phẩm</h5>
        @* <div class="row mt-2 mb-3">
            <div class="col-3">
                <div>
                    <input type="text" class="form-control" placeholder="Tìm kiếm">
                </div>
            </div>
        </div> *@
        <div class="table-responsive" style="height:80vh">
            <table class="table table-bordered table-hover " style="width:100%">
                <thead>
                    <tr class="text-center" onclick="return onShowDetail(id);">
                        <th style="width:5%">
                            <button class="btn btn-primary btn-sm" id="btn_add_product_sku" onclick="addProduct()">
                                <i class="bx bx-plus"></i>
                            </button>
                        </th>
                        <th style="width:5%">STT</th>
                        <th style="width:10%">Mã  sản phẩm</th>
                        <th style="width:20%">Tên sản phẩm</th>
                        <th style="width:5%">Số lượng</th>
                        <th style="width:5%">Giá nhập</th>
                        <th style="width:5%">Giá bán</th>
                    </tr>
                </thead>
                <tbody id="tbody_product">
                </tbody>
            </table>
        </div>

        @* <div class="card">
        <div class="card-header">
        <h3>Sản phẩm 1</h3>
        </div>
        <div class="card-body">
        <div class="row">
        <div class="col-3">
        <img src="~/images/CC1111_1.png" style="width:100%" />
        </div>
        <div class="col-8">
        <div class="row">
        <div class="col-12">
        <p>Thuộc tính: <span>Màu sắc: đỏ | Size: 14</span></p>
        </div>
        <div class="col-12">
        <p>Số lượng: <span>9999</span></p>
        </div>
        <div class="col-12">
        <p>Giá nhập: <span>100.000.000 đ</span></p>
        </div>
        <div class="col-12">
        <p>Giá bán: <span>200.000.000 đ</span></p>
        </div>

        </div>
        </div>
        </div>
        </div>
        <div class="card-footer">
        <button class="btn btn-success"><i class="bx bx-pencil"></i>Sửa</button>
        <button class="btn btn-info"><i class="bx bx-plus"></i>Thêm cùng loại</button>

        </div>
        </div> *@

    </div>
</div>




<!--Modal Product-->
<div id="modal_product" class="modal fade" data-bs-backdrop="static" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <input type="number" value="0" id="product_id_product" hidden />
            <input type="number" value="0" id="product_id_cate" hidden />
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="product_code_product" placeholder="Mã sản phẩm" disabled>
                            <label for="product_code_product">Mã sản phẩm<span class="text-danger">(*)</span></label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="capital_price_product" placeholder="Giá nhập" oninput="formatNumberInput(this)" onchange="onChangeCapitalPrice(this)">
                            <label for="capital_price_product">Giá nhập@* <span class="text-danger">(*)</span> *@</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="product_name_product" placeholder="Têm sản phẩm">
                            <label for="product_name_product">Tên sản phẩm<span class="text-danger">(*)</span></label>
                        </div>
                    </div>

                    
                    <div class="col-12 col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="price_product" placeholder="Giá bán" oninput="formatNumberInput(this)" onchange="onChangePrice(this)">
                            <label for="price_product">Giá bán@* <span class="text-danger">(*)</span> *@</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="cate_product">Danh mục<span class="text-danger">(*)</span></label>
                        <select class="form-select form-control " id="cate_product" aria-label="Danh mục" style="width: 100%">
                            <option value="0" disabled selected>--Chọn danh mục--</option>
                        </select>
                    </div>
                   
                    <div class="col-12 col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="quantity_product" placeholder="Số lượng" oninput="formatNumberInput(this)" onchange="onChangeQuantity(this)">
                            <label for="quantity_product">Số lượng@* <span class="text-danger">(*)</span> *@</label>
                        </div>
                    </div>
                </div>

                <div class="accordion mt-2" id="accordion_option">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed btn-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Thuộc tính
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion_option" style="">
                            <div class="accordion-body">
                                <div id="option_value_product">
                                </div>
                                <div class="row mt-2">
                                    <div class="col-3">
                                        <button id="btn_add_option" class="btn btn-info" onclick="addOption()"><i class="bi bi-plus"></i>Thêm thuộc tính</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* <div class="accordion mt-2" id="accordion_image">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed btn-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#collapseImage" aria-expanded="false" aria-controls="collapseImage">
                                Hình ảnh
                            </button>
                        </h2>
                        <div id="collapseImage" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion_image" style="">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-3">
                                        <button class="btn btn-info" id="uploadBtn"><i class="bi bi-plus"></i> Thêm hình ảnh</button>
                                        <input type="file" id="fileInput" style="display: none;" multiple>
                                    </div>
                                </div>
                                <div id="imagePreviewContainer" class="row mt-3 imagePreviewContainer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> *@
                <div class="mt-2" id="product_detail_product">
                    <div class="accordion" id="accordion_product_detail">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed btn-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Danh sách sản phẩm chi tiết
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion_product_detail" style="">
                                <div class="accordion-body">
                                    <button class="btn btn-info" id="btn_image_sku" onclick="return chooseMultiImage();"><i class="bi bi-plus"></i> Thêm hình ảnh</button>
                                    <input type="file" accept="image/*" style="display: none;" multiple id="file_image" />
                                    <table class="table table-responsive table-hover w-100">
                                        <thead>
                                            <tr class="text-center">
                                                <th class="w-auto">
                                                    Ảnh
                                                </th>
                                                <th class="w-50">
                                                    Tên
                                                </th>
                                                <th class="w-auto">
                                                    Giá nhập
                                                </th>
                                                <th class="w-auto">
                                                    Giá bán
                                                </th>
                                                <th class="w-auto">
                                                    Số lượng
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_product_detail">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <span class="error-message" id="error-message-product" style="color: red;float:right;margin-right:5%"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn_save_product" onclick="saveProduct()">Lưu</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>


<!--Modal SKU-->
<div id="modal_product_sku" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <label for="product_id_product_sku">Mã sản phẩm<span class="text-danger">(*)</span></label>
                        <select id="product_id_product_sku" class="form-control" name="state" onchange="onChangeProduct()">
                        </select>
                    </div>
                    <div class="col-12 col-md-4">
                  @*       <label for="product_name_view_product_sku">Tên sản phẩm</label>
                        <input class="form-control" id="product_name_view_product_sku" disabled /> *@
                    </div>
                </div>
                <div class="accordion mt-2" id="accordion_option">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed btn-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Thuộc tính
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion_option" style="">
                            <div class="accordion-body">
                                <div id="option_value_product">
                                </div>
                                <div class="row mt-2">
                                    <div class="col-3">
                                        <button id="btn_add_option" class="btn btn-info" onclick="addOption()"><i class="bi bi-plus"></i>Thêm thuộc tính</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-2" id="product_detail_product">
                    <div class="accordion" id="accordion_product_detail">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed btn-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Danh sách sản phẩm chi tiết
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion_product_detail" style="">
                                <div class="accordion-body">
                                    <table class="table table-responsive w-100">
                                        <thead>
                                            <tr>
                                                <th class="w-50">
                                                    Tên
                                                </th>
                                                <th class="w-auto">
                                                    Giá nhập
                                                </th>
                                                <th class="w-auto">
                                                    Giá bán
                                                </th>
                                                <th class="w-auto">
                                                    Số lượng
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_product_detail">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <span class="error-message" id="error-message" style="color: red;float:right;margin-right:5%"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn_save_product_sku" onclick="save()">Lưu</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div id="modal_product_sku_edit" class="modal fade" data-bs-backdrop="static" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sửa chi tiết sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <input type="number" value="0" id="product_sku_id_product_sku" hidden />
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <input type="file" accept="image/*" style="display: none;" id="file_image_sku_edit" />

                        <a onclick="return addImage('edit');">
                            <img id="image_sku_edit" src="" style="width:100%" />
                        </a>
                       
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label for="product_variant_code_view_product_sku">Mã sản phẩm<span class="text-danger">(*)</span></label>
                                <input class="form-control" type="text" id="product_variant_code_view_product_sku" disabled />

                            </div>
                            <div class="col-12 col-md-6">
                                <label for="capital_price_product_sku_edit">Tên sản phẩm</label>
                                <input class="form-control" type="text" id="product_name_view_product_sku" disabled />
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="capital_price_product_sku_edit">Giá nhập</label>
                                <input type="text" class="form-control text-end" id="capital_price_product_sku_edit" oninput="formatNumberInput(this)" />
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="price_product_sku_edit">Giá bán</label>
                                <input type="text" class="form-control text-end" id="price_product_sku_edit" oninput="formatNumberInput(this)" />
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="product_name_view_product_sku">Số lượng</label>
                                <input type="text" class="form-control text-end" id="quantity_product_sku_edit" oninput="formatNumberInput(this)" />
                            </div>
                        </div>
                    </div>
                    <input type="text" id="option_value_id_product_sku_edit" hidden />
                    <input type="number" id="input_product_id_product_sku_edit" hidden />
                </div>
                <div class="accordion mt-2" id="accordion_option">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed btn-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Thuộc tính
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion_option" style="">
                            <div class="accordion-body">
                                <div id="option_value_product_edit">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn_save_product_sku" onclick="saveEdit()">Lưu</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>



<div id="modal_product_sku_edit_change" class="modal fade" data-bs-backdrop="static" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sửa chi tiết sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <input type="number" value="0" id="product_sku_id_product_sku_change" hidden />
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <input type="file" accept="image/*" style="display: none;" id="file_image_sku_edit_change" />

                        <a onclick="return addImage('edit_change');">
                            <img id="image_sku_edit_change" src="" style="width:100%" />
                        </a>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label for="product_variant_code_view_product_sku_change">Mã sản phẩm<span class="text-danger">(*)</span></label>
                                <input class="form-control" type="text" id="product_variant_code_view_product_sku_change" disabled />

                            </div>
                            <div class="col-12 col-md-6">
                                <label for="product_name_view_product_sku_change">Tên sản phẩm</label>
                                <input class="form-control" type="text" id="product_name_view_product_sku_change"/>
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="capital_price_product_sku_edit_change">Giá nhập</label>
                                <input type="text" class="form-control text-end" id="capital_price_product_sku_edit_change" oninput="formatNumberInput(this)" />
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="price_product_sku_edit_change">Giá bán</label>
                                <input type="text" class="form-control text-end" id="price_product_sku_edit_change" oninput="formatNumberInput(this)" />
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="quantity_product_sku_edit_change">Số lượng</label>
                                <input type="text" class="form-control text-end" id="quantity_product_sku_edit_change" oninput="formatNumberInput(this)" />
                            </div>
                        </div>
                    </div>
                    <input type="text" id="option_value_id_product_sku_edit_change" hidden />
                    <input type="number" id="input_product_id_product_sku_edit_change" hidden />
                </div>
                <div class="accordion mt-2" id="accordion_option">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed btn-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Thuộc tính
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion_option" style="">
                            <div class="accordion-body">
                                <div id="option_value_product_edit_change">
                                </div>
                                <div class="row mt-2">
                                    <div class="col-3">
                                        <button id="btn_add_option" class="btn btn-info" onclick="addOptionChange()"><i class="bi bi-plus"></i>Thêm thuộc tính</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn_save_product_sku_change" onclick="saveEditChange()">Lưu</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>




<!--Modal Product Image-->
<div id="modal_product_image" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ảnh sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <input type="number" value="0" id="product_id_product_image" hidden />
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <button class="btn btn-info" id="uploadBtn"><i class="bi bi-plus"></i>Thêm hình ảnh</button>
                        <input type="file" id="fileInput" style="display: none;" multiple>
                    </div>
                </div>
                <div id="imagePreviewContainer_1" class="row mt-3 imagePreviewContainer">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn_save_product" onclick="saveImage()">Lưu</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>



<div id="modal_option" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm thuộc tính</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <input type="number" value="0" id="optionid_option" hidden />
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="option_name_option" placeholder="thuộc tính">
                            <label for="option_name_option">Thuộc tính</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="ispublish_option" checked="">
                            <label class="form-check-label" for="ispublish_option">
                                Được phép hiển thị
                            </label>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed btn-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Thuộc tính đi kèm
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="option_value_name_optionvalue" placeholder="">
                                            <label for="option_value_name_optionvalue">Thuộc tính đi kèm</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Thuộc tính</th>
                                                <th>Hiển thi</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_optionvalue">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn_save_option" onclick="create()">Lưu</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/product.js" asp-append-version="true"></script>
}
