@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="section dashboard">

    <div class="card">
        <div class="card-header p-2">
            <h3 class="mt-2 fw-bold text-dark">KẾT QUẢ KINH DOANH TRONG NGÀY</h3>
        </div>
        <div class="card-body">
            <div class="row mt-2">
                <div class="col-md-3 col-12">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Sản phẩm</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="soluongban">145.2K</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->
                <!-- Revenue Card -->
                <div class="col-md-3 col-12">
                    <div class="card info-card import-card">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Tiền nhập</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="tiennhap">3,264K</h6>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->
                <!-- Customers Card -->
                <div class="col-md-3 col-12">

                    <div class="card info-card customers-card">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Doanh thu</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-graph-up"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="tienban">1,244K</h6>
                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->
                <div class="col-md-3 col-12">
                    <div class="card info-card revenue-card">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Tiền lãi</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cash-stack"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="doanhthu">1,244K</h6>
                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->
            </div>
        </div>
    </div>



    <div class="card">
        <div class="card-header border-bottom bg-white">
            <div class="row">
                <div class="col-12 col-md-9">
                    <h3 class="mt-2 fw-bold text-dark">Báo cáo doanh thu</h3>
                    Tổng doanh thu: <h4 id="revenue_sum"></h4>
                </div>
                <div class="col-12 col-md-3">
                    <select class="form-control form-select" id="revennue_flag" onchange="return GetRevenue();">
                        <option value="0">Hôm nay</option>
                        <option value="1">Hôm qua</option>
                        <option value="2" selected>7 ngày trước</option>
                        <option value="3">Tháng này</option>
                        <option value="4">Tháng trước</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-body p-2">
            <div id="chart_revenue"></div>
            <!--<div class="table-responsive text-nowrap">
                <table class="table table-bordered table-hover align-middle">
                    <thead class="table-light">
                        <tr class="align-middle text-center sticky-top-table">
                            <th class="sticky-left-table">Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Đơn vị</th>
                            <th>SL trong kho</th>
                            <th>SL Nhập</th>
                            <th>SL Xuất</th>
                            <th>Giá nhập</th>
                            <th>Giá bán lẻ</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <tr>
                            <td class="sticky-left-table">XXV1OG</td>
                            <td>Xúc xích Veall10</td>
                            <td>kg</td>
                            <td class="text-end">1</td>
                            <td class="text-end">1</td>
                            <td class="text-end">1</td>
                            <td class="text-end">1</td>
                            <td class="text-end">1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="list-card" style="display:none;">-->
            @*<div class="card mb-3">
            <div class="card-hearder border-bottom bg-light p-2">
            <h5 class="card-title text-uppercase p-0 m-0 " onclick="return false;">OrderCode</h5>
            </div>
            <div class="card-body p-1">
            3123123132
            </div>
            <div class="card-footer d-flex justify-content-between flex-wrap p-2">
            <small>Đơn vị: <span class="text-dark fw-bold">a</span></small>
            <small>Số lượng: <span class="text-dark fw-bold">1</span></small>
            <small>Giá bán: <span class="text-danger fw-bold">1 vnđ</span></small>
            </div>
            </div>*@
            <!--</div>-->
        </div>
    </div>
    <div class="card">
        <div class="card-header border-bottom bg-light p-2 bg-white">

            <div class="row">
                <div class="col-12 col-md-9">
                    <h3 class="mt-2 fw-bold text-dark">TOP 10 SẢN PHẨM BÁN CHẠY NHẤT</h3>
                </div>
                <div class="col-12 col-md-3">
                    <select class="form-control form-select" id="topten_flag" onchange="return GetDataToptenProduct();">
                        <option value="0">Hôm nay</option>
                        <option value="1">Hôm qua</option>
                        <option value="2" selected>7 ngày trước</option>
                        <option value="3">Tháng này</option>
                        <option value="4">Tháng trước</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="barChart" style="width:100%">
            </div>
        </div>
    </div>

</section>
@section Scripts{
    <script src="~/js/dashboard.js"></script>
}